
.cover {
  /* Jeg selv har redigeret billedet paa photoshop, men kilde billede kommer fra Fog El & Alarm Facebook */
  background-image: url(../assets/cover2.png);
  height: 250px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.cover h1 {
  color: white;
  font-size: 55px;
  margin-bottom: 50px;
}

@media screen and (min-width: 660px) {
  .cover {
    height: 300px;
  }
}

.om-os {
  font-size: 18px;
  background-color: #F1F1F1;
  padding: 25px;
}

.om-os li {
  width: 100%;
  font-size: 18pxpx;
  margin: 0 auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}


h2 {
    color:#231F55;
    padding: 16px;
    font-size: 30px;
}

.om-os p {
    padding: 16px;
}

.anmeldelser {
  background-color: #F1F1F1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}

.anmeldelser h2 {
  color:  #231F55;
}


.anmeldelser img {
  width: 80%;
  margin: 10px;
  height: auto;

}

form {

  margin-top: 0px;

}


